body{
    background:black url(../img/fond.jpg);
    background-size:cover;
}

.skyElement{
    position: absolute;
    transform-origin: top left;
}

footer{
    background:rgba(0,0,0,0.5);
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:50px;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border:3px solid lime;
}

footer select{
    height:30px;
}